* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #013a3c;
}
// Header desctop
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer {
    width: 1440px;
    padding: 0 24px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
// Header desctop up
.headerUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    img {
        width: 320px;
        padding: 8px 8px 8px 0;
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        list-style-type: none;
        padding-inline-start: 0;
    }
    .link {
        text-decoration: none;
        &:hover {
            color: #447ac6;
        }
    }
    .lansDesctop {
        padding-left: 8px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        div {
            list-style-type: none;
            padding-inline-start: 0;
        }
        .lan {
            font-size: 14px;
            font-weight: bold;
            padding: 8px;
            border-radius: 4px;
            background-color: #ff851b;
            &:hover {
                background-color: #018e49;
            }
        }
    }
}
// Header desctop bottom
.headerBottom {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 160px;
    background-color: #013a3c;
}
// dropdown button
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownButton {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ff851b;
}
.dropdownContent {
    display: none;
    padding: 4px;
    position: absolute;
    flex-direction: column;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
}
.dropdownLink {
    color: #013a3c;
    text-decoration: none;
    list-style-type: none;
    &:hover {
        text-decoration: none;
        color: #447ac6;
    }
}
.dropdownContent .dropdownLink {
    display: block;
}
.dropdownContent .dropdownLink:hover {
    background-color: transparent;
}
.dropdown:hover .dropdownContent {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.dropdown:hover .dropdownButton {
    background-color: #018e49;
    color: #ffffff;
}

// ----------------------------------
// Header mobile
.headerMobile {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px 0px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    z-index: 7;
    img {
        max-width: 248px;
        padding-right: 8px;
    }
    .burgerBtn {
        max-width: 48px;
    }
}

// -----------------------------------
// Header popUp
.containerPopUp {
    width: 100%;
    height: 160vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #013a3c;
}
.wrapperPopUp {
    padding: 16px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        max-width: 56px;
    }
    ul {
        padding-inline-start: 0;
    }
    li {
        list-style-type: none;
        padding-bottom: 16px;
    }
    .link {
        color: #fff;
        &:hover {
            color: #447ac6;
        }
    }
    .listLanPopUp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .lan {
            font-size: 12px;
            font-weight: bold;
            padding: 8px;
            border-radius: 4px;
            background-color: #ff851b;
            &:hover {
                background-color: #018e49;
            }
        }
    }
}
.popUpListContainer {
    width: 100%;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
}
.popUpListWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    p {
        color: #fff;
        font-weight: 700;
    }
    .link {
        color: #fff;
        &:hover {
            color: #447ac6;
        }
    }
}
.popUpList {
    display: flex;
    flex-direction: column;
}

// -----------------------------------
// Responcive

@media (max-width: 1240px) {
    .headerUp {
        gap: 0;
        ul {
            gap: 8px;
        }
    }
}

@media (max-width: 1140px) {
    .headerUp {
        gap: 0;
        img {
            max-width: 296px;
            padding: 8px 8px 4px 0;
        }
        ul {
            gap: 24px;
        }
    }
}
@media (max-width: 1120px) {
    .headerContainer {
        display: none;
    }
    .headerMobile {
        display: flex;
    }
}
@media (max-width: 608px) {
    .popUpListWrapper {
        align-items: center;
        justify-content: center;
        p {
            margin-block-start: 0;
            margin-block-end: 4px;
        }
    }

    img {
        max-width: 48px;
    }
    .wrapperPopUp {
        li {
            padding-bottom: 8px;
        }
    }
    .popUpListContainer {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 0;
    }
    .popUpList {
        align-items: center;
        .link {
            font-size: 14px;
        }
    }
}

// ----------------------
// .listNavbarPopUp {
//     padding-top: 16px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 32px;
// }
// .listLanPopUp {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     gap: 24px;
//     padding-inline-start: 0;
// }
// -----------------------------

// Header Desctop menu
// .header {
//     width: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 7;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

// @media (max-width: 1120px) {
//     .logoHeaderDesctop {
//         display: none;
//     }
//     .listNavbarWrapper {
//         display: none;
//     }
//     .headerUp {
//         padding: 24px 0;
//         flex-direction: column;
//         gap: 16px;
//         .lans {
//             display: none;
//         }
//     }
//     .burgerBtn {
//         width: 48px;
//     }
//     .lansDesctop {
//         display: none;
//     }
// }

// @media (max-width: 768px) {
//     .dropdown {
//         display: none;
//     }
//     .headerUp {
//         align-items: center;
//         justify-content: center;
//     }
//     .listNavbar {
//         flex-direction: column;
//         gap: 24px;
//     }
//     .lans {
//         align-items: center;
//         justify-content: center;
//         padding-right: 0;
//     }
