.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.heroWrapper {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// HeroTop
.heroTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}
.heroTopImg {
    max-width: 100%;
    margin: 0 auto;
}
.heroTitle {
    padding: 32px;
    width: 80%;
    color: #013a3c;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 40;
    left: 40;
    z-index: 4;
    background: linear-gradient(0.25turn, #ffffff20, #ffffff, #ffffff20);
}

// HeroBottom
.heroContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.heroContent {
    font-size: 16px;
    border-radius: 8px;
    padding: 56px;
    font-weight: 500;
    font-size: 20px;
    background-color: #013a3c;
    text-align: justify;
}
.heroManifest {
    max-width: 100%;
    padding: 16px;
    background-color: #ff851b;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 20px;
}
p {
    padding: 16px;
    padding: 0 24px;
}

video {
    max-width: 1024px;
    object-fit: cover;
    border-radius: 8px;
    text-align: center;
}

@media (max-width: 1324px) {
    .heroWrapper {
        max-width: 880px;
        padding: 16px;
    }
    video {
        max-width: 400px;
    }
    .heroManifest {
        max-width: 100%;
        padding: 8px;
    }
}

@media (max-width: 1024px) {
    video {
        max-width: 320px;
    }
}

@media (max-width: 880px) {
    .heroContainer {
        flex-direction: column;
        padding: 8px;
    }
    .heroContent {
        margin-top: 16px;
        padding: 8px;
    }
    .heroWrapper {
        max-width: 560px;
        padding: 8px;
    }
    .heroManifest {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .heroContainer {
        margin-top: 160px;
    }
}

@media (max-width: 424px) {
    .heroContent {
        font-size: 16px;
        padding: 8px;
    }
    .heroWrapper {
        max-width: 440px;
    }
    .heroManifest {
        max-width: 320px;
        padding: 8px;
        font-size: 14px;
    }
}
