.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.heroWrapper {
    width: 1440px;
    padding: 0 24px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}
.heroImg {
    margin: 0 auto;
    img {
        width: 100%;
        border-radius: 8px;
    }
}
.heroTitle {
    padding: 24px;
    width: 80%;
    color: #013a3c;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50;
    left: 40;
    z-index: 4;
    background: linear-gradient(0.25turn, #ffffff00, #ffffff, #ffffff00);
}

@media (max-width: 1120px) {
    .heroImg {
        margin: 116px auto;
    }
    .heroTitle {
        padding: 16px;
        width: 64%;
        font-size: 24px;
    }
}
@media (max-width: 880px) {
    .heroContainer {
        flex-direction: column;
    }
    .heroContent {
        margin-top: 14px;
        padding: 8px;
    }
}

@media (max-width: 688px) {
    .heroContainer {
        flex-direction: column;
        padding: 8px;
    }
    .heroContent {
        margin-top: 16px;
        padding: 8px;
    }
    .heroTitle {
        padding: 8px;
        font-size: 16px;
    }
}

@media (max-width: 608px) {
    .heroTitle {
        width: 64%;
    }
}

// @media (max-width: 424px) {
//     .heroContent {
//         font-size: 16px;
//         padding: 8px;
//     }
//     .heroWrapper {
//         max-width: 440px;
//     }
// }
