.vacancyBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vacancyContainer {
    width: 1440px;
    text-align: center;
    color: black;
    background-color: yellow;
}
