* {
    margin: 0;
}
.teamMemberPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teamMemberPageWrapper {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
