.missionBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.missionContainer {
    width: 1440px;
    background-color: chartreuse;
    color: black;
    text-align: center;
}
