.teamMemberCards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.memberCardsWrapper {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.membersItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
        font-size: 24px;
        color: #013a3c;
    }
    p {
        padding: 0 72px;
        font-size: 24px;
        color: #013a3c;
        text-align: justify;
    }
}

// Responcive
@media (max-width: 1024px) {
    .membersItem {
        padding: 48px 32px;
    }
    .membersItemWrapper {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .membersItem {
        padding: 48px 32px;
    }
    .membersItemWrapper {
        padding: 16px 8px 40px;
    }
}
