// HeroBottom
.mediaBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mediaContainer {
    max-width: 1440px;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.mediaContent {
    font-size: 16px;
    border-radius: 8px;
    padding: 24px;
    font-weight: 500;
    background-color: #013a3c;
    text-align: justify;
}
.mediaText {
    color: #ffffff;
    font-size: 20px;
    padding: 12px;
}
.videoBlock {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    text-align: center;
}
.manifestBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroManifest {
    width: 100%;
    padding: 24px;
    background-color: #ff851b;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
}

@media (max-width: 1344px) {
    .mediaText {
        font-size: 16px;
        padding: 8px;
        margin: 0;
    }

    .heroManifest {
        max-width: 100%;
        padding: 8px;
    }
}
@media (max-width: 1144px) {
    .mediaContainer {
        padding: 0 16px;
        flex-direction: column;
    }
}
@media (max-width: 1120px) {
    .heroManifest {
        padding: 8px;
    }
}
@media (max-width: 880px) {
    .manifestBlock {
        padding: 0 16px;
    }
    .heroManifest {
        padding: 16px;
        font-size: 16px;
    }
}
