.footer {
    width: 100%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #fff;
    display: flex;
    justify-content: center;
}

.footerWrapper {
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 48px;
    background-color: #5d6267;
    padding: 24px;
    border-radius: 8px;
    border-bottom: 8px solid #ff851b;
}

.footerWrapper p {
    padding: 0;
    font-size: 20px;
    text-align: justify;
}

.footerLogo {
    border-radius: 8px;
}

.footerContacts {
    /* width: 375px; */
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.email {
    text-decoration: underline;
    font-size: 24px;
    color: #fff;
}

/* .infoLeft {
    margin-top: 60px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 30px;
} */

/* .footerList {
    padding-left: 240px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 32px;
} */

/* ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
} */

.footerInfo {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    gap: 40px;
}

.footerSocial {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footerSocial a {
    font-size: 16px;
    text-decoration: none;
}

.socialLogo {
    width: 32px;
}

@media (max-width: 1024px) {
    .footerWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footerContacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footerInfo {
        width: 100%;
        grid-column: span 2 / span 2;
    }
}

@media (max-width: 425px) {
    .footerWrapper p a {
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-size: 16px;
    }
    .footerContacts {
        width: 100%;
    }
    .footerInfo {
        width: 100%;
    }
}
