body {
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}
.content {
    flex-grow: 1;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #013a3c;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
