* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactContainer {
    max-width: 1440px;
}

.footerWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #013a3c;
}
.footerContacts {
    padding: 0px 8px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
        max-width: 320px;
    }
    p {
        color: #ffffff;
        padding: 24px 8px 0;
        margin: 0;
    }
}
.footerInfo {
    padding: 4px 16px;
    text-align: center;
}
.footerList {
    list-style-type: none;
    padding-inline-start: 0;
    li {
        padding-bottom: 8px;
    }
    .link {
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
        &:hover {
            color: #447ac6;
        }
    }
}
.footerAnnotation {
    padding: 8px 24px 8px 0;
}
li {
    padding-inline-start: 0;
    list-style-type: none;
}
.listLanFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .lan {
        border: none;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        padding: 8px;
        border-radius: 4px;
        background-color: #ff851b;
        color: #ffffff;
        &:hover {
            background-color: #018e49;
        }
    }
}
.listSocialFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 160px;
    img {
        width: 48px;
    }
}
.footerAnnotation {
    p {
        max-width: 560px;
        text-align: justify;
        padding-bottom: 18px;
        color: #ffffff;
    }
}
.remarkContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ea09d;
    p {
        color: #ffffff;
    }
}

// -----------------------------------
// Responcive

@media (max-width: 1024px) {
    .footerContacts {
        img {
            max-width: 240px;
        }
        p {
            padding: 16px 8px 0;
        }
    }
}
@media (max-width: 928px) {
    .footerContacts {
        p {
            font-size: 12px;
        }
    }
    .footerInfo {
        .link {
            font-size: 10px;
        }
    }
    .listLanFooter {
        .lan {
            font-size: 12px;
        }
    }
    .footerAnnotation {
        p {
            min-width: 240px;
            font-size: 12px;
        }
    }
    .remarkContainer {
        p {
            font-size: 10px;
        }
    }
}
@media (max-width: 880px) {
    .footerContacts {
        p {
            font-size: 20px;
        }
    }

    .footerWrapper {
        padding: 24px 0;
        flex-direction: column;
    }
    .footerAnnotation {
        padding: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            min-width: 0;
        }
    }
    .footerInfo {
        .link {
            font-size: 16px;
        }
    }
    .footerAnnotation {
        p {
            min-width: 240px;
            font-size: 16px;
        }
    }
}
@media (max-width: 424px) {
    .remarkContainer {
        p {
            font-size: 8px;
        }
    }
    .footerContacts {
        p {
            font-size: 12px;
        }
    }
    .footerInfo {
        .link {
            font-size: 10px;
        }
    }
    .listLanFooter {
        .lan {
            font-size: 12px;
        }
    }
    .footerAnnotation {
        p {
            min-width: 240px;
            font-size: 12px;
        }
    }
    .remarkContainer {
        p {
            font-size: 10px;
            padding: 0 8px;
        }
    }
}
