.errorPageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorImg {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
