.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.heroWrapper {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
}
.heroContainer {
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.heroContent {
    font-size: 16px;
    border-radius: 8px;
    padding: 44px;
    font-weight: 500;
    font-size: 20px;
    background-color: #f0f0f0;
    text-align: justify;
}
.heroManifest {
    max-width: 100%;
    padding: 24px;
    background-color: #ff851b;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
p {
    padding: 16px;
    padding: 0 24px;
}

video {
    width: 1024px;
    object-fit: cover;
    border-radius: 8px;
    text-align: center;
}

@media (max-width: 1324px) {
    .heroWrapper {
        max-width: 880px;
        padding: 16px;
    }
    video {
        max-width: 400px;
    }
    .heroManifest {
        max-width: 100%;
        padding: 8px 16px;
    }
}

@media (max-width: 1024px) {
    video {
        max-width: 320px;
    }
}

@media (max-width: 880px) {
    .heroContainer {
        flex-direction: column;
        padding: 8px;
    }
    .heroWrapper {
        max-width: 560px;
        padding: 8px;
    }
}
@media (max-width: 424px) {
    .heroContent {
        font-size: 16px;
        padding: 8px;
    }
    .heroWrapper {
        max-width: 440px;
    }
    .heroManifest {
        max-width: 320px;
        padding: 8px;
        font-size: 14px;
    }
}
