.wrapperPartnersSlider {
    width: 100%;
}
.partnersTitle {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
}
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    max-width: 784px;
    max-height: 300px;
    margin: 40px auto 40px;
    z-index: 0;
}
.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
}
.leftArrow {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: rgb(54, 54, 54);
    background-color: #bfced6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    left: 10px;
    border-radius: 4px;
    padding: 16px;
}
.rightArrow {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: rgb(54, 54, 54);
    background-color: #bfced6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    right: 10px;
    border-radius: 4px;
    padding: 16px;
}

@media (max-width: 1024px) {
    .leftArrow {
        left: 16px;
    }
    .rightArrow {
        right: 16px;
    }
}
@media (max-width: 880px) {
    .slide {
        width: 64%;
        height: 48%;
    }
}
@media (max-width: 768px) {
    .slide {
        width: 48%;
        height: 32%;
    }
}
